@charset "utf-8";
/* CSS Document */
body,html
{
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: #000000;
    background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #2676c0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#2676c0));
    background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: radial-gradient(ellipse at center,  #cfe7fa 0%,#579fe4 100%);
    /* border: 3px solid; */
}
#info{
	position: absolute;
	top:10%;
	right:8%;
}
input{
	width:30px;
	height:20px;
	border-collapse: 0px;
	border-radius: 4px;
	transform: translateY(-5px);
	text-align: center;
}
#appointing{
	background-color: cornflowerblue;
}
.picture{
	width: 100%;
	height: 200px;
	text-align:center;
}
.mainlogo{
	position: absolute;
	left:50%;
	top:10%;
}
#img2{
	height: 100px;
}
#d2{
		/*height:300px;*/
		width:1000px;
		margin-left: auto;
		margin-right: auto;
	}
#foot{
	position: absolute;
	bottom: 100px;
	left: 50%;
	width:800px;
	margin-left: -400px;
}
#showtime{
	position: absolute;
	transform: translateY(100px);
}
.sure{
	border-radius: 300px;
	box-shadow: 0;
	/* background-color: aqua; */
	font-size: 14;
	font-weight: bold;
	background-color: rgb(136, 199, 250);
}
#c1{
		position:absolute;
	}
#c2{
		position:absolute;
		}
#c3{
		position:absolute;
	}
#d3{
		font-size:22;
}
#showappointment{
	position: absolute;
	right: 0px;
	height: 40px;
	width:100px;
	right:17%;
}
.demo1{
	height:50px;
	width:1000px;
}
#demo{
	width:100px;
	position: absolute;
	right:27%;
	transform: translateY(10px)
}
button{
	width:80px;
	height: 50px;
	background-color: cornflowerblue;
	border-radius: 10px;
}
.tal1{
	width:100px;
}
.tal{
		height: 50px;
		background-color: white;
		text-align: center;
		opacity: 0.5
	}
a{
		color:black;
		text-decoration: none;
	}
.time{
		width:1000px;
		border-color:cornflowerblue;
		border-collapse: 0px;
		background-color: white;
	}
.days{
		width:1000px;
	}
.day{
		height:50px;
		width:150px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background-color:aliceblue;
	}
.show{
		width:100%;
		height:auto;
	}

/*预约显示时间框*/
#case{
		color: #000000; 
		border: solid 2px rgb(253, 252, 252); 
		width: 1000px; 
		height: 150px; 
		overflow-y: scroll; 
		scrollbar-face-color: #889B9F;
		scrollbar-shadow-color: #3D5054;
		scrollbar-highlight-color: #C3D6DA;
		scrollbar-3dlight-color: #3D5054;
		scrollbar-darkshadow-color: #85989C;
		scrollbar-track-color: #95A6AA;
		scrollbar-arrow-color: #FFD6DA;
		position: absolute;
		bottom: 200px;
		line-height: 200%;
	}
#showtitle{
		position: absolute;
		bottom: 360px;
		font-size: 22;
	}


