body,html
{
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: #000000;
    background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #2676c0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#2676c0));
    background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: radial-gradient(ellipse at center,  #cfe7fa 0%,#579fe4 100%);
    /* border: 3px solid; */
    overflow-x: hidden;
}

.maintitle
    {
        color:rgb(78, 78, 78);
        margin:0 auto;
        text-shadow: 3px 3px 3px rgb(145, 145, 145);
        text-align: center;
        font-weight: 100;
        /* border:3px solid; */
    }

h1{
    margin:0px;
    padding:0px;
}
.logopicture
{
    position:relative;
    float:left;
    top:39px;
    left:20px;
}

.form-heading{
    text-align:center;
    position:absolute;
    top:5%;
    left:43.5%

}

.form-info{
    text-align:center;
    position:absolute;
    top:38%;
    left:43%;
    margin:0;
    padding:0;
    z-index: 20;
    line-height: 20px;
  }
#submit{
    text-align: center;
    margin:0;
    height:40px;
    width:80px;
    border-radius: 300px;
    box-shadow: 0;
    font-size: 14;
    font-weight: bold;
    background-color: rgb(136, 199, 250);
    margin-top:35px;
}
  
.block{
    background-color:rgb(206, 228, 247);
    border-radius:100px;
    height:25px;
    margin-top:20px;
}
  

