
 body,html
 {
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: #000000;
    background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #2676c0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#2676c0));
    background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: radial-gradient(ellipse at center,  #cfe7fa 0%,#579fe4 100%);
    /* border: 3px solid; */
    overflow-x: hidden;
}

    #id4
    {
        position: relative;
        left:6%;
        top:5%;
        font-family: "KaiTi";
        color:rgb(37, 37, 37);
        text-shadow:3px 3px 3px #616161;
    }
    .titlelogo
    {
        position:fixed;
        left:38%;
        top:10%;
    }
    h1
    {
        font-weight:900;
        font-size:50;
        text-shadow: 3px 3px 3px rgb(92, 117, 150);
        position: relative;
        left:45%;
        top:5%;
        color:rgb(47, 25, 88);
        font-family:'KaiTi';
    }
    .a
    {
        position:relative;
        left:10%;
        width:80%;
        top:4.5%;
        border: 3px solid;
        height: 60%;
        border-radius: 20px;
        background:#bcdb8f; 
        box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
      
    }
    textarea
    {
        width:60%;
        resize:none;
        overflow:scroll;
        overflow-x:hidden;
        background-color: rgb(226, 226, 226);
    }
    .b
    {
        position: relative;
        font-family: 'KaiTi';
        left:20px;
        font-weight: 900;
        
        /* overflow:scroll; */
    }
    .d
    {
        position: relative;
        left:20px;
        border-radius: 20px;
        overflow:hidden;
        background-color: rgb(226, 226, 226);
    }
    .c
    {
        position: relative;
        left:20px;
        font-weight: 400;
        font-family: 'KaiTi';
        border-radius: 20px;
        font-size:20;
        border-color: aqua;
        background-color: rgb(181, 221, 233);
        /* background: -moz-linear-gradient(left, #bdc3c7, #2c3e50); Firefox 3.6 - 15 */
        /* background: -webkit-linear-gradient(left, #bdc3c7, #2c3e50);  */
        
    }

    /* 统一尾部 */
    .ts-footer{
        position:absolute;
        left:36%;
        bottom:8%;
        width: 400px; 
        height: 30px;
    }
    .ts-left{
        float:left;
        width: 229px; 
    }
    .ts-right{
        float:right;
    }
    
    .holdlogo{
        position: fixed;
        margin: 0 auto;
        display: block;
        left: 80%;
        width: 200px;
        height: 50px;
        z-index: 4;
        text-align: center;
        top: 87%;
    }
    .eelogo
    {
        position:fixed;
        margin:0 auto;
        display:block;
        left:6%;
        width:30px;
        height:30px;
        z-index: 4;
        text-align: center;
        top:89%;
        /* opacity:0.75; */
    }
    .dclogo
    {
        position:fixed;
        margin:0 auto;
        display:block;
        left:9%;
        width:100px;
        height:40px;
        z-index: 4;
        text-align: center;
        top:88.5%;
        /* border-radius: 50%; */
        /* opacity:0.75; */
    }
