body,html
{
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: #000000;
    background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #2676c0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#2676c0));
    background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#2676c0 100%);
    background: radial-gradient(ellipse at center,  #cfe7fa 0%,#579fe4 100%);
    /* border: 3px solid; */
}


    body
    {
        overflow-x: hidden;
    }
    .titlelogo
    {
        position: absolute;
        left:35%;
        top:10%;
    }
    h1
    {
        position: relative;
        left:44%;
        top:5%;
        font-size:50;
        font-family: 'SimHei';
        color:rgb(4, 71, 4);
        text-shadow: 5px 5px 5px gray;
    }
    /* #h2
    {
        position: relative;
        left:44%;
        top:5%;
        font-size:50;
        font-family: 'SimHei';
        color:rgb(4, 71, 4);
        text-shadow: 5px 5px 5px gray;
    } */
    /* 默认显示队长 */
    .a,.b
    {
        /* overflow:scroll; */
        border:2px solid rgb(194, 152, 233);
        width:60%;
        height:100%;
        /* display:none; */
        /* background-color: rgb(180, 216, 198); */
        position: relative;
        top:5%;
        left:20%;
        border-radius: 20px;
        box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
    }
    .a
    {
        display:block;
        /* display:none; */
    }
    .b
    {
        display:none;
    }
    .c
    {
        position: relative;
        left:40%;
        font-family: 'SimHei';
        font-size:30;
        
        /* z-index: 50; */
    }
    .d
    {
        position: relative;
        left:20%;
        border:3px solid rgb(59, 57, 57);
        /* width:65%; */
        /* background-color: rgb(243, 243, 243); */
        font-weight: bold;
        border-radius: 30px;
        box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
    }
   
    .ts-footer
    {
        position: relative;
        left:36%;
        /* top:20%; */
        width: 400px; 
        height: 30px;
    }
    .foot
    {
       position: relative;
       left:56%;
       top:-8%;
       height:10%;
       /* border:1px solid; */
        /* display:inline; */
    }
    .ts-left{
       float:left;
       width: 229px; 
      
   }
   .ts-right{
       float:right;
      
   }
   /* .ts-rightx{
       float:right;
      display:inline;
   } */
    .holdlogo{
       /* position: fixed; */
       /* margin: 0 auto; */
       /* display: block; */
       /* left: 80%; */
       width: 200px;
       height: 50px;
       /* display:inline; */
       /* z-index: 4; */
       /* text-align: center; */
       /* top: 88%; */
   }
   .eelogo
       {
           position: relative;
           top:50%;
           left:-65%;
           /* position:fixed;
           margin:0 auto;
           display:block;
           left:6%;*/
           width:30px;
           height:30px;
        }
       .dclogo
       {
           position: relative;
           top:22%;
           left:-64%;
           /* position:fixed;
           margin:0 auto;
           display:block;
           left:6%;*/
           width:100px;
           /* border-radius: 50%; */
           height:40px;
          
       }