
/* .userinfor
{
    position: absolute;
    top:55px;
  
    width:100%;
    z-index: 10;
} */
#signin:link,#signin:visited{
    text-decoration:none;  /*超链接无下划线*/
    /* font-size:20; */
   }
   #signin
   {
       color:#ffffff;
       font-size:18;
       font-weight: 500;
   }
   #signin:hover
   {
       color:#00000091;
   }
#userinfor1,#userinfor2
{
    color:rgb(49, 22, 22);
    font-weight: 600;
    vertical-align: middle;
    /* border: solid; */
}   
#userinfor1
{
    
    font-size:16;
    z-index: 10;
}
#userinfor2
{
    /* position: absolute; */
    display:none;
    /* right:5%;
    top:20%; */
    font-size:16;
    z-index: 10;
}
#user
{
    display:inline;
    
}
#user:hover
{
    color:#00000091;
}
#users
{
    padding: 0.5% 0;
    height:3%;
    border: solid;
    position: absolute;
    right:5%;
    top:0%;
    vertical-align:middle;
}